html {
      height: 100%;
    }

body {
       height: 100%;
       color: black;
    }

    header {
        background-color: #FFA40D;
        padding:40px;
        font-size:30;
        display: block;
        width: 790px;
    }

    h1 {
        color: white;
    }

    nav {
        line-height:;
        background-color:;
        width:125px;
        display: inline-block;
        vertical-align: top;
    }
    nav ul {
        list-style-type: none;
    }
    a {
        color: ;
    }
    section {
        background-color: #2588FF;
        width: 516px;
        display: inline-block;
    }
    aside {
      width: 125px;
      display: inline-block;
      vertical-align: top;
      background-color:;
      font-size: ;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        text-align:;
        padding:5px;
        display: block;
    }